body {
    font-family: Arial, sans-serif;
    height: 90vh;
    overflow: auto;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 5px;
    box-sizing: border-box;
    height: 100%;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    align-items: center;
    margin-bottom:5px;
}

.card-content {
    margin-top: 10px;
    flex-grow: 1;
}

.full-width {
    width: 100%;
}

.table-container {
    overflow-x: auto;
    flex-grow: 1;
}

